.col-lg-1 {
  float: left;
  width: 8.33333%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-1 {
    float: left;
    width: 8.33333%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-1 {
    float: left;
    width: 8.33333%; } }

.col-lg-2 {
  float: left;
  width: 16.66667%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-2 {
    float: left;
    width: 16.66667%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-2 {
    float: left;
    width: 16.66667%; } }

.col-lg-3 {
  float: left;
  width: 25%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-3 {
    float: left;
    width: 25%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-3 {
    float: left;
    width: 25%; } }

.col-lg-4 {
  float: left;
  width: 33.33333%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-4 {
    float: left;
    width: 33.33333%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-4 {
    float: left;
    width: 33.33333%; } }

.col-lg-5 {
  float: left;
  width: 41.66667%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-5 {
    float: left;
    width: 41.66667%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-5 {
    float: left;
    width: 41.66667%; } }

.col-lg-6 {
  float: left;
  width: 50%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-6 {
    float: left;
    width: 50%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-6 {
    float: left;
    width: 50%; } }

.col-lg-7 {
  float: left;
  width: 58.33333%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-7 {
    float: left;
    width: 58.33333%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-7 {
    float: left;
    width: 58.33333%; } }

.col-lg-8 {
  float: left;
  width: 66.66667%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-8 {
    float: left;
    width: 66.66667%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-8 {
    float: left;
    width: 66.66667%; } }

.col-lg-9 {
  float: left;
  width: 75%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-9 {
    float: left;
    width: 75%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-9 {
    float: left;
    width: 75%; } }

.col-lg-10 {
  float: left;
  width: 83.33333%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-10 {
    float: left;
    width: 83.33333%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-10 {
    float: left;
    width: 83.33333%; } }

.col-lg-11 {
  float: left;
  width: 91.66667%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-11 {
    float: left;
    width: 91.66667%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-11 {
    float: left;
    width: 91.66667%; } }

.col-lg-12 {
  float: left;
  width: 100%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-12 {
    float: left;
    width: 100%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-12 {
    float: left;
    width: 100%; } }

header {
  width: 100%; }

div#logo {
  margin: 0 auto;
  text-align: center; }
  div#logo img {
    height: 100px; }
    @media screen and (max-width: 39.99em) {
      div#logo img {
        height: 80px; } }

.flex-container {
  display: flex;
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 39.99em) {
    .flex-container {
      flex-wrap: wrap; } }
  .flex-container li {
    flex: 1; }
    @media screen and (max-width: 39.99em) {
      .flex-container li {
        flex-basis: 50%; } }

div#secondary-nav {
  overflow: hidden; }
  div#secondary-nav ul {
    height: 50px;
    line-height: 50px;
    width: 60%;
    margin: 0 auto; }
    div#secondary-nav ul li {
      list-style: none;
      float: left;
      text-align: center; }
      div#secondary-nav ul li#login a {
        text-decoration: underline;
        color: #87CEEB; }
      @media screen and (max-width: 39.99em) {
        div#secondary-nav ul li#date, div#secondary-nav ul li#weather {
          display: none; } }

nav#primary-nav {
  background-color: #5F5F5F;
  width: 100%;
  height: 50px;
  line-height: 50px;
  clear: both; }
  @media screen and (max-width: 39.99em) {
    nav#primary-nav {
      height: 100px; } }
  nav#primary-nav ul {
    width: 60%;
    text-align: center; }
    @media screen and (max-width: 39.99em) {
      nav#primary-nav ul {
        width: 100%; } }
    nav#primary-nav ul li {
      list-style: none; }
      nav#primary-nav ul li:hover {
        background-color: #000000; }
      nav#primary-nav ul li a {
        text-decoration: none;
        color: #FFFFFF; }

.form-box {
  margin: 50px auto;
  width: 100%; }

label {
  display: block;
  margin-bottom: 0;
  margin-top: 0.5em;
  color: #5F5F5F; }

input, textarea, select#catergory {
  height: 35px;
  line-height: 35px;
  width: 100%;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  background: #FFFFFF; }
  input::placeholder, textarea::placeholder, select#catergory::placeholder {
    color: #CCCCCC;
    font-size: 0.9em; }
  input[type="text"], textarea[type="text"], select#catergory[type="text"] {
    padding-left: 10px; }

textarea {
  height: 200px;
  padding-left: 10px; }

select#catergory {
  font-size: 0.9em;
  color: #CCCCCC; }

div.submit-btn {
  margin-top: 20px;
  text-align: center; }

input[type="submit"] {
  width: 50%;
  background: #87CEEB;
  color: #FFFFFF;
  border: none; }

#login-form {
  display: inline-block;
  text-align: center; }

.editor-login {
  margin: 0 auto;
  padding: 40px;
  border-radius: 6px;
  border: 1px solid #CCCCCC; }
  .editor-login .input-group {
    margin-top: 8px;
    width: 100%; }
  .editor-login .login-btn {
    margin-top: 25px;
    width: 100%; }

input[type="submit"] {
  width: 100%;
  background: #87CEEB;
  color: #FFFFFF;
  border: none; }

input[type="submit"]:hover {
  background: #0DA4E3; }

/*# sourceMappingURL=main.css.map */
