@import "color"
@import "utils"
@import "bootstrap"
@import "grid"

// GENERAL 

body
    font-size: 14px

main.container
    @include size(small)
        clear: both
        
button#logout-button 
    background: transparent
    color: $light-orange
    text-decoration: underline
    width: auto
    border: none
    cursor: pointer
    
// HEADER   
header
    width: 100%
    
div#logo
    margin: 0 auto
    text-align: center
    img
        width: 450px 
        margin: 20px
        @include size(small)
            width: 420px 
            margin: 15px 

.flex-container
    display: flex
    flex-flow: row wrap
    padding: 0
    margin: 0
    @include size(medium)
        justify-content: space-around
    @include size(small)
        flex-wrap: wrap
        flex-direction: column
    li
        flex: 1
        @include size(small)
            flex-basis: 50%
        
div#secondary-nav
    overflow: hidden
    ul
        height: 50px
        line-height: 50px
        width: 60%
        margin: 0 auto
        li
            list-style: none
            float: left
            text-align: center
            &#login a
                text-decoration: none
                color: $light-orange
                border: 2px solid $light-orange
                padding: 5px 15px
                border-radius: 20px
                transition: 0.05s ease
                &:hover
                    background: $dark-orange
                    border: 2px solid $dark-orange
                    color: $white
            &#date, &#weather
                @include size(small)
                    display: none

nav#primary-nav
    background-color: $light-grey
    width: 100%
    clear: both
    position: relative
    @include size(small)
    ul
        background: $light-grey
        width: 60%
        margin: 0 auto
        @include size(medium)
            width: 100%
            text-align: center
            padding-left: 0
        @include size(small)
            width: 100%
        li
            list-style: none
            &:hover
                background-color: $light-orange
            a
                display: block
                text-decoration: none
                color: $dark-grey
                padding: 1em
                text-align: center
                letter-spacing: .05em 
#nav-toggle
    display: none
    @include size(small)
        display: block
        padding: 15px
        text-align: center
        color: $dark-grey
        position: relative
        cursor: pointer
    

#topnav
    @include size(small)
        display: none
        
.hamburger 
    background-image: url(../images/icon-menu-white.png)
    background-size: cover
    height: 20px
    width: 20px
    display: block
    position: absolute
    right: 20px
    top: 15px

.cross
    background-image: url(../images/icon-close-white.png)
    background-size: cover
    height: 20px
    width: 20px
    display: block
    position: absolute
    right: 20px
    top: 15px

    
// ARICLE FORM

.form-box
    margin: 50px auto
    width: 100%
    
label
    display: block
    margin-bottom: 0
    margin-top: 0.5em
    color: $dark-grey
    
input, textarea, select#catergory
    height: 35px
    line-height: 35px
    width: 100%
    border: 1px solid $light-grey
    border-radius: 5px
    background: $white
    &::placeholder
        color: $light-grey
        font-size: .9em
    &[type="text"]
        padding-left: 10px
        
textarea
    height: 200px
    padding-left: 10px
    
select#catergory
    font-size: .9em
    color: $light-grey
    
div.submit-btn
    margin-top: 20px
    text-align: center

input[type="submit"] 
    width: 50%   
    background: $light-orange
    color: $white
    border: none
    
input[type="submit"]:hover
    background: $dark-orange

// LOGIN FORM

#login-form
    text-align: center
        
.editor-login 
    margin: 0 auto
    padding: 45px
    border-radius: 6px
    border: 1px solid $light-grey
    h3
        margin-bottom: 22px
    .input-group 
        margin-top: 10px
        width: 100%
    .login-btn 
        margin-top: 30px
        margin-bottom: 15px
        width: 100%
        

button[type="submit"] 
    width: 100%   
    background: $light-orange
    color: $white
    border: none
    
button[type="submit"]:hover
    background: $dark-orange

// ARTICLE DETAILS

main.container.article-detail
    margin-top: 45px

// LIST VIEW 
#main-content
    display: flex
    flex-wrap: wrap
    a
        text-decoration: none
        color: $black
        transition: color 0.05s ease
        &:hover
            text-decoration: underline
            color: $light-orange
    h2
        font-family: 'Kurale', serif

    p
        font-family: 'Open Sans', sans-serif
        font-size: 1.2em
        line-height: 1.4em
  
.article-content
    flex-grow: 1
    @include size(large)
        padding: 10px  
        flex-basis: 50%
        &:nth-child(1)
            flex-basis: 70%   
        &:nth-child(2)
            flex-basis: 30%  
            
    @include size(medium)
        padding: 5px
        flex-basis: 60%
    @include size(small)
        padding: 5px 
        flex-basis: 100%
        p
            font-size: 1.3em


// ARTICLE DETAIL
.article-detail
    h2
        font-family: 'Kurale', serif
    p
        font-family: 'Open Sans', sans-serif
        font-size: 1.2em
        line-height: 1.4em
    @include size(small)
        padding: 5px 
        p
            font-size: 1.3em

    
