@import "color"
@import "utils"
@import "bootstrap"
@import "grid"

// headergit 
header
    width: 100%
    
div#logo
    margin: 0 auto
    text-align: center
    img
        width: 450px 
        margin: 20px
        @include size(small)
            width: 420px 
            margin: 15px 

.flex-container
    display: flex
    padding: 0
    margin: 0
    @include size(small)
        flex-wrap: wrap
    li
        flex: 1
        @include size(small)
            flex-basis: 50%
        
div#secondary-nav
    overflow: hidden
    ul
        height: 50px
        line-height: 50px
        width: 60%
        margin: 0 auto
        li
            list-style: none
            float: left
            text-align: center
            &#login a
                text-decoration: underline
                color: $skyblue
            &#date, &#weather
                @include size(small)
                    display: none
            
nav#primary-nav
    background-color: $dark-grey
    width: 100%
    height: 50px
    line-height: 50px
    clear: both
    @include size(small)
        height: 100px
    ul
        width: 60%
        text-align: center
        @include size(small)
            width: 100%
        li
            list-style: none
            &:hover
                background-color: $black 
            a
                text-decoration: none
                color: $white


// form
.form-box
    margin: 50px auto
    width: 100%
    
label
    display: block
    margin-bottom: 0
    margin-top: 0.5em
    color: $dark-grey
    
input, textarea, select#catergory
    height: 35px
    line-height: 35px
    width: 100%
    border: 1px solid $light-grey
    border-radius: 5px
    background: $white
    &::placeholder
        color: $light-grey
        font-size: .9em
    &[type="text"]
        padding-left: 10px
        
textarea
    height: 200px
    padding-left: 10px
    
select#catergory
    font-size: .9em
    color: $light-grey
    
div.submit-btn
    margin-top: 20px
    text-align: center

input[type="submit"] 
    width: 50%   
    background: $skyblue
    color: $white
    border: none


// vera_login
#login-form
    // display: inline-block
    text-align: center
        
.editor-login 
    margin: 0 auto
    padding: 45px
    border-radius: 6px
    border: 1px solid $light-grey
    h3
        margin-bottom: 22px
    .input-group 
        margin-top: 10px
        width: 100%
    .login-btn 
        margin-top: 30px
        margin-bottom: 15px
        width: 100%

button[type="submit"] 
    width: 100%   
    background: $skyblue
    color: $white
    border: none
    
button[type="submit"]:hover
    background: $btnblue


// article_detail
main.container.article-detail
    margin-top: 45px

    
// list_view(index.html)
#main-content
    display: flex
    flex-wrap: wrap
    a
        text-decoration: none
        color: $black
    h2
        font-family: 'Kurale', serif
    p
        font-family: 'Open Sans', sans-serif
        font-size: 1.2em
        line-height: 1.4em
    .article-content
        flex-grow: 1
        @include size(large)
            padding: 10px  
            flex-basis: 50%
        @include size(medium)
            padding: 5px  
            flex-basis: 60%
        @include size(small)
            padding: 5px 
            flex-basis: 100%
            p
                font-size: 1.3em
  
                
// article detail
.article-detail
    h2
        font-family: 'Kurale', serif
    p
        font-family: 'Open Sans', sans-serif
        font-size: 1.2em
        line-height: 1.4em
    @include size(small)
        padding: 5px 
        p
            font-size: 1.3em

    
button#logout-button 
    background: transparent
    color: #87CEEB
    text-decoration: underline
    width: auto
    border: none